<article
  class="service-card group relative flex h-full flex-col items-center text-center cursor-pointer"
  [class.service-card--panel]="variant() === 'card'"
>
  @if (variant() === 'timeline') {
    <span class="service-card__dot" aria-hidden="true"></span>
  }

  <h3
    class="service-card__title m-0 max-w-[12rem] text-[1rem] font-semibold uppercase tracking-[0.18em] text-white sm:text-xs"
    [class.mt-5]="variant() === 'timeline'"
    [class.!text-xl]="variant() === 'card'"
    [class.!font-bold]="variant() === 'card'"
  >
    {{ service().title }}
  </h3>

  <div
    class="service-card__icon-wrap  mt-5 flex h-24 w-24 items-center justify-center rounded-[1.25rem] transition-[background-color,transform,box-shadow] duration-300 ease-out group-hover:bg-white group-hover:shadow-[var(--shadow-md)] group-focus-within:bg-white"
  >
    <lucide-icon
      [img]="service().icon"
      [size]="70"
      [strokeWidth]="1.5"
      class="service-card__icon text-white transition-colors duration-300 ease-out group-hover:text-[var(--color-primary)] group-focus-within:text-[var(--color-primary)]"
      aria-hidden="true"
    />
  </div>

  @if (variant() === 'card') {
    <p
      class="m-0 mt-5 text-sm leading-relaxed text-white/70 sm:text-base "
    >
      {{ service().description }}
    </p>
  }
</article>
