.error-messages {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.error-messages__item {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-primary);
}
